streamlit
torch
transformers
accelerate
bitsandbytes
trl
peft
datasets
altair
pandas
pyyaml
huggingface-hub
pydantic
plotly
scikit-learn
scipy
seaborn
numexpr
sentencepiece
safetensors
streamlit-option-menu
tensorboard